@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
  padding: 0;
  margin: 0;
}

.primary-btn{
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 25px;
  font-weight: 700;
  padding: 10px 57px;
  border-radius: 12px;
  background: rgb(17, 17, 17);
}

/* navigation bar styles */
header{
  
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 186px;
  
  
  
}
.logo{
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-bar ul{
  display: flex;
  gap: 43px;
}
.nav-bar ul li{
  list-style: none;
  
}
.nav-bar ul li a{
  display: block;
  text-decoration: none;
  
}
#home{
  color: rgb(254, 163, 1);
  font-size: 20px;
  font-weight: 700;
}
#about{
  color: rgb(1, 172, 253);
  font-size: 20px;
  font-weight: 500;
}
#fac{
  color: rgb(5, 212, 223);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 500;
}
#admission{
  color: rgb(93, 88, 239);

  font-size: 20px;
  font-weight: 500;
}
.btn1{
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  border-radius: 12px;
  border: none;
  padding: 15px 60px;
  background: rgb(254, 163, 1);
}

.hr-line{
  
  display: none;
}



/* navigation bar responsive */
@media screen and (max-width: 576px) {
  .icon{
    display: block;
    cursor: pointer;
  }
  .icon .line{
    width: 20px;
    height: 3px;
    margin: 6px;
    background-color: black;
  }
  .nav-bar{
    display: none;
  }
  .logo-title{
    display: none;
  }
  .btn1{
    display: none;
  }
  header{
    margin: 0px 15px;
    width: calc(100% - 30px);

    
  }
  .hr-line{
    display: block;
    width: 99%;
    background-color: orange;
  
  }
  
}



/* banner section styles */

.banner-section{
  display: flex;
  align-items: center;
  gap: 200px;
  margin-left: 186px;
  margin-top: 25px;
}

.banner-title{
  
  font-size: 75px;
  font-weight: 700;
  line-height: 77px;
}
.banner-details{
  width: 100%;
}

.banner-description{
  color: rgb(17, 17, 17);
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 32px;
  margin-bottom: 32px;

}
.banner-img{
  
  width: 100%;
  
}

#em{
   color: rgb(254, 163, 1);
}
#tv{
  color: rgb(1, 172, 253);
}

/* banner section responsive */

@media screen and ( max-width: 576px){
  .banner-section{
    flex-direction: column-reverse;
    align-items: normal;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
    width: calc(100% - 40px);
   
    
  }
  .banner-details{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    width: calc(100% - 20px);
  }
.banner-title{
    text-align: center;
    font-size: 43px;
    line-height: 45px;
    
  }
  .banner-description{
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    line-height: 18px;
    
  }
  .banner-img img{
    width: calc(100% - 20px);
  }
  
  .primary-btn{
    font-size: 16px;
    padding: 10px 24px;
    
  }
}